-- LITHOS CRM ΓÇö Step 1: Tables
-- Run in Supabase SQL Editor after creating your project

-- Inventory (slab products)
create table if not exists public.inventory (
  id uuid primary key default gen_random_uuid(),
  user_id uuid not null references auth.users(id) on delete cascade,
  name text not null,
  quantity integer not null default 0 check (quantity >= 0),
  low_stock_threshold integer not null default 5 check (low_stock_threshold >= 1),
  created_at timestamptz not null default now()
);

-- Leads
create table if not exists public.leads (
  id uuid primary key default gen_random_uuid(),
  user_id uuid not null references auth.users(id) on delete cascade,
  first_name text not null,
  last_name text not null,
  phone text not null default '',
  email text not null default '',
  location text not null default '',
  inventory_item_id uuid references public.inventory(id) on delete set null,
  order_quantity integer not null default 1 check (order_quantity >= 1),
  note text not null default '',
  follow_up_at timestamptz,
  status text not null default 'active' check (status in ('active', 'won', 'lost')),
  pushed_to_sct boolean not null default false,
  created_at timestamptz not null default now()
);

-- Clients (won leads)
create table if not exists public.clients (
  id uuid primary key default gen_random_uuid(),
  user_id uuid not null references auth.users(id) on delete cascade,
  lead_id uuid references public.leads(id) on delete set null,
  first_name text not null,
  last_name text not null,
  phone text not null default '',
  email text not null default '',
  location text not null default '',
  inventory_item_id uuid references public.inventory(id) on delete set null,
  order_quantity integer not null default 1 check (order_quantity >= 1),
  note text not null default '',
  won_at timestamptz not null default now()
);

-- SCT CRM export queue
create table if not exists public.sct_leads (
  id uuid primary key default gen_random_uuid(),
  user_id uuid not null references auth.users(id) on delete cascade,
  lead_id uuid references public.leads(id) on delete set null,
  first_name text not null,
  last_name text not null,
  phone text not null default '',
  email text not null default '',
  location text not null default '',
  product_name text not null,
  order_quantity integer not null default 1,
  note text not null default '',
  pushed_at timestamptz not null default now(),
  source_crm text not null default 'lithos-crm'
);
