-- LITHOS CRM ΓÇö Step 3: Row Level Security
-- Run after 01_tables.sql
-- Each user can only access their own data

alter table public.inventory enable row level security;
alter table public.leads enable row level security;
alter table public.clients enable row level security;
alter table public.sct_leads enable row level security;

-- Inventory policies
drop policy if exists "Users select own inventory" on public.inventory;
drop policy if exists "Users insert own inventory" on public.inventory;
drop policy if exists "Users update own inventory" on public.inventory;
drop policy if exists "Users delete own inventory" on public.inventory;
drop policy if exists "Users manage own inventory" on public.inventory;

create policy "Users select own inventory"
  on public.inventory for select
  using (auth.uid() = user_id);

create policy "Users insert own inventory"
  on public.inventory for insert
  with check (auth.uid() = user_id);

create policy "Users update own inventory"
  on public.inventory for update
  using (auth.uid() = user_id)
  with check (auth.uid() = user_id);

create policy "Users delete own inventory"
  on public.inventory for delete
  using (auth.uid() = user_id);

-- Leads policies
drop policy if exists "Users select own leads" on public.leads;
drop policy if exists "Users insert own leads" on public.leads;
drop policy if exists "Users update own leads" on public.leads;
drop policy if exists "Users delete own leads" on public.leads;
drop policy if exists "Users manage own leads" on public.leads;

create policy "Users select own leads"
  on public.leads for select
  using (auth.uid() = user_id);

create policy "Users insert own leads"
  on public.leads for insert
  with check (auth.uid() = user_id);

create policy "Users update own leads"
  on public.leads for update
  using (auth.uid() = user_id)
  with check (auth.uid() = user_id);

create policy "Users delete own leads"
  on public.leads for delete
  using (auth.uid() = user_id);

-- Clients policies
drop policy if exists "Users select own clients" on public.clients;
drop policy if exists "Users insert own clients" on public.clients;
drop policy if exists "Users update own clients" on public.clients;
drop policy if exists "Users delete own clients" on public.clients;
drop policy if exists "Users manage own clients" on public.clients;

create policy "Users select own clients"
  on public.clients for select
  using (auth.uid() = user_id);

create policy "Users insert own clients"
  on public.clients for insert
  with check (auth.uid() = user_id);

create policy "Users update own clients"
  on public.clients for update
  using (auth.uid() = user_id)
  with check (auth.uid() = user_id);

create policy "Users delete own clients"
  on public.clients for delete
  using (auth.uid() = user_id);

-- SCT leads policies
drop policy if exists "Users select own sct_leads" on public.sct_leads;
drop policy if exists "Users insert own sct_leads" on public.sct_leads;
drop policy if exists "Users update own sct_leads" on public.sct_leads;
drop policy if exists "Users delete own sct_leads" on public.sct_leads;
drop policy if exists "Users manage own sct_leads" on public.sct_leads;

create policy "Users select own sct_leads"
  on public.sct_leads for select
  using (auth.uid() = user_id);

create policy "Users insert own sct_leads"
  on public.sct_leads for insert
  with check (auth.uid() = user_id);

create policy "Users update own sct_leads"
  on public.sct_leads for update
  using (auth.uid() = user_id)
  with check (auth.uid() = user_id);

create policy "Users delete own sct_leads"
  on public.sct_leads for delete
  using (auth.uid() = user_id);
