-- LITHOS CRM ΓÇö Step 4: Seed default slab inventory
-- Optional: seeds 31 default products for the signed-in user
-- The app also auto-seeds on first login if inventory is empty

create or replace function public.seed_default_inventory(
  p_user_id uuid default auth.uid(),
  p_quantity integer default 50,
  p_low_stock_threshold integer default 5
)
returns integer
language plpgsql
security definer
set search_path = public
as $$
declare
  v_count integer;
begin
  if p_user_id is null then
    raise exception 'User must be authenticated';
  end if;

  select count(*) into v_count
  from public.inventory
  where user_id = p_user_id;

  if v_count > 0 then
    return 0;
  end if;

  insert into public.inventory (user_id, name, quantity, low_stock_threshold)
  values
    (p_user_id, 'Aviano (Avenza)', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Black Storm', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Botticino (Cloudy White)', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Cemento', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Calacatta Elba*', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Calacatta Lithos', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Calacatta Marina', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Calacatta Noir', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Calcutta Noir', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Calcutta Noir (Laza)', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Carrara capri', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Carrara White', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Diamante', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Florence Brown', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Grainy White', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Grosseto (Grey Lac)', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Massimo* (Chromo)', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Messina*', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Misterio Gold', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Nero Marquina', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Pompeii', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Pure White', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Sea Storm', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Skyline Gold', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Statuario Black', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Statuario brown', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Super White', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Taj Mahal', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Tuscany Concrete', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Vernazza', p_quantity, p_low_stock_threshold),
    (p_user_id, 'White Sparkling Mirror', p_quantity, p_low_stock_threshold);

  return 31;
end;
$$;

-- Allow authenticated users to call the seed function
grant execute on function public.seed_default_inventory(uuid, integer, integer) to authenticated;

-- Example: seed for current user after sign-up
-- select public.seed_default_inventory();
