-- LITHOS CRM ΓÇö Step 2: Indexes
-- Run after 01_tables.sql

create index if not exists inventory_user_id_idx on public.inventory(user_id);
create index if not exists inventory_name_idx on public.inventory(user_id, name);

create index if not exists leads_user_id_idx on public.leads(user_id);
create index if not exists leads_status_idx on public.leads(user_id, status);
create index if not exists leads_follow_up_idx on public.leads(follow_up_at)
  where follow_up_at is not null and status = 'active';

create index if not exists clients_user_id_idx on public.clients(user_id);
create index if not exists clients_won_at_idx on public.clients(user_id, won_at desc);

create index if not exists sct_leads_user_id_idx on public.sct_leads(user_id);
create index if not exists sct_leads_pushed_at_idx on public.sct_leads(pushed_at desc);
