-- LITHOS CRM ΓÇö Full database setup (run this single file)
-- Supabase Dashboard ΓåÆ SQL Editor ΓåÆ New query ΓåÆ paste & run

-- =============================================================================
-- TABLES
-- =============================================================================

create table if not exists public.inventory (
  id uuid primary key default gen_random_uuid(),
  user_id uuid not null references auth.users(id) on delete cascade,
  name text not null,
  quantity integer not null default 0 check (quantity >= 0),
  low_stock_threshold integer not null default 5 check (low_stock_threshold >= 1),
  created_at timestamptz not null default now()
);

create table if not exists public.leads (
  id uuid primary key default gen_random_uuid(),
  user_id uuid not null references auth.users(id) on delete cascade,
  first_name text not null,
  last_name text not null,
  phone text not null default '',
  email text not null default '',
  location text not null default '',
  inventory_item_id uuid references public.inventory(id) on delete set null,
  order_quantity integer not null default 1 check (order_quantity >= 1),
  note text not null default '',
  follow_up_at timestamptz,
  status text not null default 'active' check (status in ('active', 'won', 'lost')),
  pushed_to_sct boolean not null default false,
  created_at timestamptz not null default now()
);

create table if not exists public.clients (
  id uuid primary key default gen_random_uuid(),
  user_id uuid not null references auth.users(id) on delete cascade,
  lead_id uuid references public.leads(id) on delete set null,
  first_name text not null,
  last_name text not null,
  phone text not null default '',
  email text not null default '',
  location text not null default '',
  inventory_item_id uuid references public.inventory(id) on delete set null,
  order_quantity integer not null default 1 check (order_quantity >= 1),
  note text not null default '',
  won_at timestamptz not null default now()
);

create table if not exists public.sct_leads (
  id uuid primary key default gen_random_uuid(),
  user_id uuid not null references auth.users(id) on delete cascade,
  lead_id uuid references public.leads(id) on delete set null,
  first_name text not null,
  last_name text not null,
  phone text not null default '',
  email text not null default '',
  location text not null default '',
  product_name text not null,
  order_quantity integer not null default 1,
  note text not null default '',
  pushed_at timestamptz not null default now(),
  source_crm text not null default 'lithos-crm'
);

-- =============================================================================
-- INDEXES
-- =============================================================================

create index if not exists inventory_user_id_idx on public.inventory(user_id);
create index if not exists inventory_name_idx on public.inventory(user_id, name);
create index if not exists leads_user_id_idx on public.leads(user_id);
create index if not exists leads_status_idx on public.leads(user_id, status);
create index if not exists leads_follow_up_idx on public.leads(follow_up_at)
  where follow_up_at is not null and status = 'active';
create index if not exists clients_user_id_idx on public.clients(user_id);
create index if not exists clients_won_at_idx on public.clients(user_id, won_at desc);
create index if not exists sct_leads_user_id_idx on public.sct_leads(user_id);
create index if not exists sct_leads_pushed_at_idx on public.sct_leads(pushed_at desc);

-- =============================================================================
-- ROW LEVEL SECURITY
-- =============================================================================

alter table public.inventory enable row level security;
alter table public.leads enable row level security;
alter table public.clients enable row level security;
alter table public.sct_leads enable row level security;

drop policy if exists "Users select own inventory" on public.inventory;
drop policy if exists "Users insert own inventory" on public.inventory;
drop policy if exists "Users update own inventory" on public.inventory;
drop policy if exists "Users delete own inventory" on public.inventory;
drop policy if exists "Users manage own inventory" on public.inventory;

create policy "Users select own inventory" on public.inventory for select using (auth.uid() = user_id);
create policy "Users insert own inventory" on public.inventory for insert with check (auth.uid() = user_id);
create policy "Users update own inventory" on public.inventory for update using (auth.uid() = user_id) with check (auth.uid() = user_id);
create policy "Users delete own inventory" on public.inventory for delete using (auth.uid() = user_id);

drop policy if exists "Users select own leads" on public.leads;
drop policy if exists "Users insert own leads" on public.leads;
drop policy if exists "Users update own leads" on public.leads;
drop policy if exists "Users delete own leads" on public.leads;
drop policy if exists "Users manage own leads" on public.leads;

create policy "Users select own leads" on public.leads for select using (auth.uid() = user_id);
create policy "Users insert own leads" on public.leads for insert with check (auth.uid() = user_id);
create policy "Users update own leads" on public.leads for update using (auth.uid() = user_id) with check (auth.uid() = user_id);
create policy "Users delete own leads" on public.leads for delete using (auth.uid() = user_id);

drop policy if exists "Users select own clients" on public.clients;
drop policy if exists "Users insert own clients" on public.clients;
drop policy if exists "Users update own clients" on public.clients;
drop policy if exists "Users delete own clients" on public.clients;
drop policy if exists "Users manage own clients" on public.clients;

create policy "Users select own clients" on public.clients for select using (auth.uid() = user_id);
create policy "Users insert own clients" on public.clients for insert with check (auth.uid() = user_id);
create policy "Users update own clients" on public.clients for update using (auth.uid() = user_id) with check (auth.uid() = user_id);
create policy "Users delete own clients" on public.clients for delete using (auth.uid() = user_id);

drop policy if exists "Users select own sct_leads" on public.sct_leads;
drop policy if exists "Users insert own sct_leads" on public.sct_leads;
drop policy if exists "Users update own sct_leads" on public.sct_leads;
drop policy if exists "Users delete own sct_leads" on public.sct_leads;
drop policy if exists "Users manage own sct_leads" on public.sct_leads;

create policy "Users select own sct_leads" on public.sct_leads for select using (auth.uid() = user_id);
create policy "Users insert own sct_leads" on public.sct_leads for insert with check (auth.uid() = user_id);
create policy "Users update own sct_leads" on public.sct_leads for update using (auth.uid() = user_id) with check (auth.uid() = user_id);
create policy "Users delete own sct_leads" on public.sct_leads for delete using (auth.uid() = user_id);

-- =============================================================================
-- SEED FUNCTION (optional ΓÇö app also seeds on first login)
-- =============================================================================

create or replace function public.seed_default_inventory(
  p_user_id uuid default auth.uid(),
  p_quantity integer default 50,
  p_low_stock_threshold integer default 5
)
returns integer
language plpgsql
security definer
set search_path = public
as $$
declare
  v_count integer;
begin
  if p_user_id is null then
    raise exception 'User must be authenticated';
  end if;

  select count(*) into v_count from public.inventory where user_id = p_user_id;
  if v_count > 0 then return 0; end if;

  insert into public.inventory (user_id, name, quantity, low_stock_threshold)
  values
    (p_user_id, 'Aviano (Avenza)', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Black Storm', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Botticino (Cloudy White)', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Cemento', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Calacatta Elba*', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Calacatta Lithos', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Calacatta Marina', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Calacatta Noir', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Calcutta Noir', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Calcutta Noir (Laza)', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Carrara capri', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Carrara White', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Diamante', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Florence Brown', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Grainy White', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Grosseto (Grey Lac)', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Massimo* (Chromo)', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Messina*', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Misterio Gold', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Nero Marquina', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Pompeii', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Pure White', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Sea Storm', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Skyline Gold', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Statuario Black', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Statuario brown', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Super White', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Taj Mahal', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Tuscany Concrete', p_quantity, p_low_stock_threshold),
    (p_user_id, 'Vernazza', p_quantity, p_low_stock_threshold),
    (p_user_id, 'White Sparkling Mirror', p_quantity, p_low_stock_threshold);

  return 31;
end;
$$;

grant execute on function public.seed_default_inventory(uuid, integer, integer) to authenticated;
